/XamarinApp/algroandapp/bin
/XamarinApp/algroandapp/obj
/XamarinApp/algroandapp.Android/obj
/XamarinApp/algorandapp.Android/bin
/XamarinApp/algroandapp.iOS/bin
/XamarinApp/algroandapp.iOS/obj
/XamarinApp/algroandapp.UWP/obj
/XamarinApp/algroandapp.UWP/bin
